html {
  font-size: 62.5%; //16* 0,625 = 10; 1rem = 16px
}

body {
  font-family: Helvetica, Arial, sans; //if not supported goes on
  font-size: $m-size;
  background: $off-dark-blue;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
